@media screen and (min-width:320px) and (max-width:969px) {
    .header{
        position: relative;
    }
}
// -------- 970px -------//
@media screen and (min-width:970px) {
    .header{
            border-bottom: 1px solid #828282;
transform: matrix(1, 0, 0, 1, 0, 0);
        
     
        &-list{
            display: flex;
            justify-content: space-between;

        }
        &-item{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &-link{
            @include font(400,18px,22px);
color: $primary-text-color;
padding-top: 20px;
padding-bottom: 20px;
        }
        &-link--current{
            color: $title-text-color;
        }
    }
    
}
